In [24]:
import pandas as pd

In [25]:
hotel_data = pd.read_csv("data\hotel_data.csv")
hotel_data

  room_type  quantity room_rate
0    single        10       20$
1    double        10       30$
2       vip         4       50$
3   regular        10       25$
4    simple         8       10$
5    deluxe        10       60$

In [26]:
quantity_slot = 2
room_type_slot = "vip"
row = list(hotel_data.loc[hotel_data.room_type == str(room_type_slot)].index)[0]
a = str(int(hotel_data["quantity"].iloc[row]) - int(quantity_slot))
hotel_data["quantity"].iloc[row] = a
hotel_data

C:\Users\PC\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

  room_type quantity room_rate
0    single       10       20$
1    double       10       30$
2       vip        2       50$
3   regular       10       25$
4    simple        8       10$
5    deluxe       10       60$

In [27]:
quantity_slot = 2
room_type_slot = "vip"
hotel_data["quantity"].loc[hotel_data.room_type == "vip"] = quantity_slot
hotel_data

  room_type quantity room_rate
0    single       10       20$
1    double       10       30$
2       vip        2       50$
3   regular       10       25$
4    simple        8       10$
5    deluxe       10       60$

In [28]:
list(hotel_data.room_rate)

['20$', '30$', '50$', '25$', '10$', '60$']

In [29]:
room_type_slot = "vip"
index_room_type = (hotel_data.loc[hotel_data.room_type == room_type_slot].index)[0]
room_rate = list(hotel_data["room_rate"])[index_room_type]
room_rate

'50$'

In [40]:
import random
utter = ["Would you book this room type?","Would you like to book this room type ?"]
print(random.choice(utter))

Would you like to book this room type ?