In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("\data\data_reservation.csv")
data

,name,id_card,room_type,quantity,intend_time,reservation_form
0,Nguyen Manh Cuong,12345678901,vip,4,2 days,now
1,Nguyễn Mạnh Hùng,123456789001,vip,2,two days,now
2,Trinh Thi Cuc,123456789001,regular,3,2 days,reservation

In [3]:
list(data.index)

[0, 1, 2]

In [4]:

row1 = pd.DataFrame([["Trinh Thi Cuc","122","single",2,6,"now"]], columns= ['name' , "id_card" , "room_type" , "quantity" , "intend_time", "reservation_form"],index=[2])
data = data.append(row1)

In [5]:
data

,name,id_card,room_type,quantity,intend_time,reservation_form
0,Nguyen Manh Cuong,12345678901,vip,4,2 days,now
1,Nguyễn Mạnh Hùng,123456789001,vip,2,two days,now
2,Trinh Thi Cuc,123456789001,regular,3,2 days,reservation
2,Trinh Thi Cuc,122,single,2,6,now

In [6]:
row1 = pd.DataFrame([["None","None","None",None,None,"None"]], columns= ['name' , "id_card" , "room_type" , "quantity" , "intend_time", "reservation_form"],index=[1])
data = data.append(row1)
data

,name,id_card,room_type,quantity,intend_time,reservation_form
0,Nguyen Manh Cuong,12345678901,vip,4,2 days,now
1,Nguyễn Mạnh Hùng,123456789001,vip,2,two days,now
2,Trinh Thi Cuc,123456789001,regular,3,2 days,reservation
2,Trinh Thi Cuc,122,single,2,6,now
1,None,None,None,None,None,None

In [7]:
a = list(data["room_type"])
a

['vip', 'vip', 'regular', 'single', 'None']

In [8]:
list(data.loc[data.room_type == "single"].index)

[2]

In [ ]:
list()